@import '@/styles/color.scss';

.userInfoCard {
  display: flex;
  flex-direction: column;

  .userAvatarContainer {
    display: flex;
    justify-content: center;
  }

  .userName {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .operationBar {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
  }

  .description {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: $color-text-gray;
  }

  .situation {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 设置为两列等宽 */
    grid-template-rows: auto auto;
    /* 设置为两行，高度自适应 */
    grid-gap: 10px;
    /* 设置网格间距 */
    font-size: 14px;

    .situationItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .situationItemTitle {
        color: $color-text-gray;
      }
    }
  }

  .creatAt {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: $color-black-70;
  }
}
