.loginScreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loginCard {
    width: 400px;
    margin-top: 200px;

    .loginHeader {
      max-width: 400px;
      text-align: center;

      .title {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: -0.049375rem;
        line-height: 2.5rem;
      }
    }

    .loginPath {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      gap: 12px;
      margin-bottom: 20px;
    }

    .loginPathButton {
      height: 48px;
      font-size: 16px;
    }

    .forgetContainer {
      padding-top: 14px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
