.UpButtonContain {
  width: 104px;
  height: 104px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
  :hover {
    border-color: #3ea8ff;
  }
}
.AvatarHover {
  background-color: var(--semi-color-overlay-bg);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  cursor: pointer;
}
