.workShopContainer {
  display: flex;
  .chatContainer {
    flex: 1;
    background-color: antiquewhite;
  }
  .setting {
    width: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
