.workShopContainer {
  display: flex;
  .chatContainer {
    flex: 1;
  }
  .setting {
    width: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .item {
      display: flex;
      gap: 10px;

      .title {
        font-weight: 500;
      }
      .content {
        flex: 1;
        display: flex;
        gap: 15px;

        .idContainer {
          width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
      }
    }
  }
}
