@import '@/styles/color.scss';

.footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: #fafafa;
  padding: 64px 24px 0;
  font-size: 0.875rem;
  border-top: 1px solid #eaeaea;

  .footerMarketing {
    display: flex;
    justify-content: space-between;

    .statusContinaer {
      display: flex;
      flex-direction: column;
    }

    .group {
      .groupHeader {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .groupItem {
        color: $color-text-gray;
        font-size: 14px;
        padding: 8px 0;

        a {
          color: $color-text-gray;
        }
      }
    }
  }

  .filingsInfo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
